* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /*---  DISPOSITIVOS SMART  ---*/

/*  *****************************************************************************************
   -----------------------------------------------------------------------------------------*/
/* @media screen and (min-width: 1281px) and (max-width: 1900px) */
/*------------------------------------------------------------------------------------------
 ********************************************************************************************/

@media screen and (min-width: 1281px) and (max-width: 1900px) {
    body {
      width: 100%;
      height: 80%; /* 740px */
      background-image: url('Imagenes/InteligenciaArtificial.png');
    
    }
  
    #header {
      width: 100%;
      height: 55px;
      background-color: rgb(50, 250, 80);
      margin: 0;
      z-index: 250;
    }
  
    #btn1 {
      width: 40px;
      height: 40px;
      margin-top: 7px;
      margin-left: 6%;
      /*  border: 0.5px solid rgb(30, 30, 30); */
      border-radius: 50px;
      float: left;
    }
  
    .logo {
      width: 40px;
      height: 40px;
      margin-top: 0;
      margin-left: 0;
      padding-top: 0;
      padding-left: 0;
      /*  border: 0.5px solid rgb(30, 30, 30); */
      border-radius: 50px;
      float: left;
      cursor: pointer;
      background-image: url("Imagenes/LogoRangerarbsoft_45.png");
    }
  
    #btn2 {
      width: 40px;
      height: 40px;
      margin-top: 7px;
      margin-left: 7%;
      /*  border: 0.5px solid rgb(30, 30, 30); */
      border-radius: 50px;
      float: left;
      position: relative;
    }
  
    .lupa {
      width: 40px;
      height: 40px;
      margin-top: 0;
      margin-left: 0;
      /*  border: 0.5px solid rgb(30, 30, 30); */
      border-radius: 50px;
      float: left;
      cursor: pointer;
      background-image: url("Imagenes/mail_search.png");
    }
  
    .container-uno {
      width: 30%;
      height: 20px;
      margin-top: 0.3%;
      margin-left: 27%;
      font-family: arial, sans-serif, monospace;
      font-size: 20px;
      font-weight: 700;
      color: rgb(10, 10, 250);
      float: left;
    }
  
    #btn3 {
      width: 40px;
      height: 40px;
      margin-top: -40px;
      margin-left: 85%;
      /*  border: 0.5px solid rgb(30, 30, 30); */
      border-radius: 50px;
      float: left;
      cursor: pointer;
    }
  
    .registrarse {
      width: 40px;
      height: 40px;
      margin-top: 0px;
      margin-left: 0px;
      padding-top: 0px;
      padding-left: 0px;
      /*  border: 0.5px solid rgb(30, 30, 30); */
      border-radius: 50px;
      float: left;
      cursor: pointer;
      background-image: url("Imagenes/user-32.png");
    }
  
    #btn4 {
      width: 40px;
      height: 40px;
      margin-top: -41px;
      margin-left: 93%;
      /*  border: 0.5px solid rgb(30, 30, 30); */
      border-radius: 50px;
      float: left;
      cursor: pointer;
    }
  
    .personal {
      width: 40px;
      height: 40px;
      margin-top: 0;
      margin-left: 0;
      padding-top: 0px;
      padding-left: 0px;
      /*  border: 0.5px solid rgb(30, 30, 30); */
      border-radius: 50px;
      float: left;
      cursor: pointer;
      background-image: url("Imagenes/users.png");
    }
  
    .container-dos {
      width: 30%;
      height: 20px;
      margin-top: 30px;
      margin-left: 45.2%;
      font-family: cursive;
      font-size: 14px;
      font-weight: 700;
      color: rgb(10, 10, 250);
      position: absolute;
    }
    /***********************************************************************/

          /*--Aqui comienza la imagen central de RANGERARBSOFT --*/

  /*---------------------------------------------------------------------*/
  
    .img-rangerarbsoft {
      width: 30%;
      height: 45%;
      margin-top: 13%;
      margin-left: 37%;
      position: fixed;
      z-index: 40;
    }
    /***********************************************************************/

  /*--Aqui comienza la Ventana de Placeholder --*/

  /*---------------------------------------------------------------------*/

  .icono-placeholder-image {
    width: 60%;
    height: 40px;
    margin-top: 55px;
    margin-left: -57%;
    padding-top: 2px;
    padding-left: 20%;
    background-color: rgb(50, 250, 80);
    color: rgb(10, 10, 250);
    font-size: 18px;
    border-radius: 10px;
    align-items: center;
    display: none;
    opacity: 0;
    z-index: 240;
    position: absolute; /* Ajuste la posición absoluta para superponer detrás del header */
    top: -50px; /* Mueva el placeholder arriba del header */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(48%);
}


@keyframes muestraPlaceholder {
  from {
      opacity: 0;
      top: 35px; /* Posición inicial arriba del header */
  }
  to {
      opacity: 1;
      top: 0; /* Posición final abajo del header */
  }
}

.icono-placeholder-image.activado {
  display: flex;
  animation: muestraPlaceholder 350ms ease-in-out both;
}

  .icono-placeholder-image:hover {
    background-color: rgb(70, 70, 70);
    color: rgb(250, 250, 250);
  }
  /***********************************************************************/

          /*--Aqui comienza la Ventana de Enlaces Menú --*/

  /***********************************************************************/
  .enlaces-menu {
    width: 20%;
    height: 92vh;
    margin-top: 0.2px;
    margin-left: 0.5px;
    position: absolute;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    display: none; /* flex */ /* none */
    opacity: 0;
    z-index: 10;
  }

  @keyframes muestraEnlacesMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .enlaces-menu.activado {
    display: flex;
    transform: translate(0.5px);
    animation: muestraEnlacesMenu 370ms ease-in-out both;
  }

  .titulo-uno {
    display: flex;
    width: 50%;
    height: 35px;
    margin-top: 15px;
    margin-left: 28%;
    font-family: cursive;
    font-size: 16px;
    color: rgb(250, 250, 250);
  }

  .enlaces-menu li {
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 17.5%;
    margin-bottom: 17.5%;
    margin-left: 5%;
    font-size: 24px;
    font-weight: 600;
    color: rgb(70, 70, 70);
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
  }

  .enlaces-menu li img {
    display: inline;
    width: 40px;
    height: 40px;
    margin-top: 18.5%;
    margin-bottom: 18.5%;
    margin-left: 1%;
    float: left;
    position: absolute;
  }

  .enlaces-menu li a {
    display: flex;
    width: 70%;
    height: 70%;
    margin-top: 18.5%;
    margin-bottom: 18.5%;
    margin-left: 25%;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 2%;
    font-size: 24px;
    font-weight: 600;
    color: rgb(250, 250, 250);
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
    float: left;
  }

  .enlaces-menu li a:hover {
    background-color: rgb(120, 120, 120);
    color: rgb(50, 50, 250);
  }
  /*********************************************************************/

          /*---  Aqui comienza la presentación de Nosotros  ---*/

  /*-------------------------------------------------------------------*/

  .container-rangerarbsoft {
    width: 60%;
    height: 92vh;
    margin-top: 0.1%; /* 60% */
    margin-left: -67.3%; /* 67.3% */
    background-color: rgb(130, 130, 130);
    position: absolute;
    display: none; /* flexbox */ /* none */
    opacity: 0;
    z-index: 50;
  }

  @keyframes muestraContainerRangerarbsoft {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .container-rangerarbsoft.activado {
    display: block;
    transform: translate(145.8%); /* 145.8% */
    animation: muestraContainerRangerarbsoft 350ms ease-in-out both;
  }

  .img-ranger {
    width: 75%;
    height: 35vh;
    margin-top: 1px;
    margin-left: 10%;
    align-content: center;
    align-items: center;
  }

  .img-nosot {
    width: 75%;
    height: 35vh;
    margin-top: 1px;
    margin-left: 10%;
    align-content: center;
    align-items: center;
  }

  .descrip-ranger {
    width: 90%;
    height: auto;
    margin-top: 2%;
    margin-left: 4%;
    padding: auto;
    background-color: rgb(200, 200, 200);
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 50, 225);
    text-align: justify;
    text-decoration: none;
  }

  .descrip-disk {
    width: 98%;
    height: auto;
    margin-top: 2%;
    margin-left: 1%;
    padding: auto;
    background-color: rgb(200, 200, 200);
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 50, 225);
    text-align: justify;
    text-decoration: none;
  }
  /*********************************************************************/
  /*-- Aqui va la ventana de Contactos --*/
  /*-------------------------------------------------------------------*/

  .contenedor-contacto {
    width: 60%;
    height: 92vh;
    margin-top: -0.9%;
    margin-left: -67.3%; /* 20.2% */ /* -67.3% */
    border-radius: 15px;
    background-color: rgb(130, 130, 130);
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    position: absolute;
    display: none; /* flex */ /* none */
    opacity: 0;
    z-index: 60;
  }

  @keyframes muestraContacto {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .contenedor-contacto.activado {
    display: block;
    transform: translate(145.8%);
    animation: muestraContacto 350ms ease-in-out both;
  }

  .conten-cont {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }

  .contenedor-contacto ul li img {
    display: inline-flex;
    width: 35px;
    height: 35px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    float: left;
    position: relative;
  }

  .contenedor-contacto ul li a {
    display: inline-flex;
    width: 80%;
    height: 35px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    font-size: 22px;
    font-weight: 600;
    color: rgb(10, 10, 250);
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    float: left;
    position: absolute;
  }

  .contenedor-contacto li a:hover {
    background-color: rgb(70, 70, 70);
    color: rgb(230, 230, 230);
  }

  .gmail {
    display: inline;
    width: 35px;
    height: 35px;
    font-size: 18;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
  }

  .facebook {
    display: inline;
    width: 35px;
    height: 35px;
    font-size: 18;
    margin-top: 5%;
    margin-left: 2%;
    float: left;
    cursor: pointer;
  }

  .instagram {
    display: inline-flex;
    width: 35px;
    height: 35px;
    font-size: 18;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
  }

  .linkedin {
    display: inline;
    width: 55px;
    height: 55px;
    font-size: 18;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
  }

  .whtps {
    display: inline;
    width: 55px;
    height: 55px;
    font-size: 18;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
  }

  .youtobe {
    display: inline;
    height: 35px;
    font-size: 18;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
  }

}